<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">

  <title>{{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">
  <meta name="theme-color" content="#ffffff" />

  <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png">
  <link rel="apple-touch-icon" href="/assets/images/favicon/apple-touch-icon.png">
  <link rel="manifest" href="/manifest.json" />

  <link rel="stylesheet" href="{{ '/dist/app.css' | url }}" />
  <script>
    if (location.pathname.startsWith("/en")) {
      localStorage.setItem("lang", "en");
    } else {
      localStorage.setItem("lang", "rs");
    }
  </script>
</head>

<body class="dark:text-white dark:bg-black">
<div class="page-container">
  {{ content }}
</div>

<script>
  document.querySelector("#toggle-lang").addEventListener("click", () => {
    if (localStorage.lang === "en") {
      location.replace(location.pathname.substring(3));
    } else {
      location.replace("/en" + location.pathname);
    }
  });

  const button = document.querySelector("#menu-button");
  const navMenu = document.querySelector("#menu");

  button.addEventListener("click", () => {
    navMenu.classList.toggle("hidden");
  });
</script>
<script type="text/javascript" src="{{ '/dist/app.js' | url }}"></script>
</body>
</html>
